

h1,h2,h3,h4,h5,h6 {
    padding: 0 0 20px;
}

h1 {
    font-size: #{$font_size * 2.5};
}
h2 {
    font-size: #{$font_size * 1.8};
}
h3 {
    font-size: #{$font_size * 1.3};
    text-transform: uppercase;
    padding: 0 0 5px;
}

h6  {
    font-size: $font_size;
    font-weight: normal;
}


p {
    padding: 0 0 30px;
    font-size: $font_size;
    line-height: 150%;
}


strong, b {
    font-weight: bold;
}
em, i {
    font-size: italic;
}

ul {
    list-style: square;
    margin: 0 0 30px 30px;
}

ol {

}

li {
    font-size: $font_size;
    padding: 0 0 10px;
}

blockquote {
    font-style:  italic;

}


a {

    transition: all 0.3s;

    &:link, &:visited, &:active, &:hover {
    color: $brand_color;
    text-decoration: none;
    }
    &:hover {

    }

    &:focus {
        box-shadow: 0 0 5px $brand_color;
    }


}




h6 a, a h6, a.button {
    background: $black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    margin:  0;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    @media (min-width: $mobile_width) {
        display: inline-block;
        padding: 10px 50px;
    }

    &:hover {
        background-color: $brand_color;
        transform: scale(1.05);
    }

    &:visited, &:active, &:link, &:focus {
        color: white;
    }
    &:active {
        top: 1px;
    }
    &.gold_button {
        @include linear-gradient(45deg, $gold, $gold_light);
    }
}





img {
    width: 100%;
    height: auto;
}


input, textarea, select, button {
    padding: 10px;
    border: 0;
    font-family: $font_stack;
    font-size: $font_size;
    margin: 0 0 10px;
    width: 100%;
    box-shadow:  0 3px 0 0 transparent inset;
    transition:  all 0.3s;
    &:focus {
        box-shadow: 0 3px 0 0 lighten($brand_color, 30) inset;
    }
}

textarea {
    height: 100px;
}
button {
    background: $medium_grey;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    width: auto;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &:focus {
        background-color: $brand_color;
    }
}
