
$gold: #604f46;
$gold_light: lighten($gold, 15);
$brand_color: $gold;

$font_stack:  'trenda', 'Trenda',  'Gotham',  sans-serif;
$heading_font_stack:  $font_stack;
$font_size: 1.8em;
$font_color: #222;



$light_grey: #eeeeee;
$medium_grey: #aaaaaa;
$dark_grey: #333333;
$black: #161616;


$border_radius: 10px;


$mobile_width: 768px;
$tablet_width: 992px;
$browser_width: 1200px;


@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
